{{define "header" -}}
	<link rel="stylesheet" type="text/css" href="/static/css/base.css" media="screen">
	<title>{{ .Title }}</title>
{{- end}}

{{define "body" -}}
	{{template "navbar" .}}
	<div class="container">
		<div class="jumbotron"></div>
		<div>
			<p>Hire me to build your website.</p>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h4>Responsive Design</h4>
				<p>Try resizing this website, it will mould to its surroundings to best fit the needs of the reader.</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h4>Column 2</h4>
				<p>Try resizing this website, it will mould to its surroundings to best fit the needs of the reader.</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h4>Column 3</h4>
				<p>Try resizing this website, it will mould to its surroundings to best fit the needs of the reader.</p>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h4>Column 4</h4>
				<p>Try resizing this website, it will mould to its surroundings to best fit the needs of the reader.</p>
			</div>
		</div>
	</div>
{{- end}}
{{define "footer" -}}{{- end}}