{{define "header" -}}
	<link rel="stylesheet" type="text/css" href="/static/css/resume.css">
	<title>{{ .Title }}</title>
{{- end}}

{{define "resume-item"}}
					<div id="resume-item">
						<h5 class="resume-name">{{.Name}}</h5>
					{{- if .Title }}
						<p class="resume-title"> &mdash; {{.Title}}</p>
					{{- end}}
						<p class="resume-date">{{.Date}}</p>
						<p class="resume-content">{{.Content}}</p>
						{{- if .BulletPoints }}
						<ul class="resume-list">
							{{- range .BulletPoints}}
							<li>{{.}}</li>
							{{- end}}
						</ul>
						{{- end}}
					</div>
{{- end}}

{{define "body" -}}
{{template "navbar" .}}
	<div class="container">
		<div class="jumbotron"></div>
		<div id="resume" class="row justify-content-center">
			<div id="resume-categories" class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
				<div id="job-experience" class="resume-category">
					<h6>Job Experience</h6>
					{{- range .Data.Experience -}}
						{{template "resume-item" .}}
					{{- end}}
				</div>
				<div id="education" class="resume-category">
					<h6>Education</h6>
					{{- range .Data.Education -}}
						{{template "resume-item" .}}
					{{- end}}
				</div>
			</div>
			<div id="resume-other-skills" class=" resume-category col-lg-2 col-md-2 col-sm-6 col-xs-12">
				<h6>Technical Skills</h6>
				<ul>
					<li>Python</li>
					<li>Go</li>
					<li>Git</li>
					<li>Java</li>
					<li>C/C++</li>
					<li>JavaScript</li>
					<li>html/css</li>
				</ul>
			</div>
		</div>
	</div>
	<a href="/static/files/HarrisonBrown.pdf" download>Download Resume</a>
{{- end}}
{{define "footer" -}}{{- end}}