:root {
	--bg-color: #040404;
}

.navbar {
	/* margin-bottom: 3rem; */
	/* background-color: var(--bg-color); */
}

/* #navbar .navbar{
	color: var(--bg-color);
} */

.jumbotron {
	border-radius: 0px ;
	color: #343a40;
}

.jumbotron.jumbotron-top {
	margin-bottom: 0;
	/* background-color: steelblue; */
	background-color: grey;
}