.navbar {
	margin-bottom: 3rem;
	background-color: black;
}

.jumbotron {
	margin-bottom: 0;
	/* background-color: steelblue; */
	background-color: gray;
	border-radius: 0px ;
}

canvas {
	/* border: 1px solid black; */
	left: 0%;
	width: 100%;
	position: absolute;
}
