div.nav-wrapper {
	color: black;
	background-color: black;
}

.jumbotron-top {
	display: none;
}

:root {
	--bg-img: url(../img/1125x1500/me_sm.jpg); /* this is the main image */
}

#home-profile.jumbotron {
	background: #040404 url(../img/1125x1500/me_sm.jpg) center top / 900px no-repeat padding-box border-box fixed;
	color: #fff;
	/* height: 765px; */
	height: 100vh;
}

.jumbotron .home-header {
	position: relative;
	top: 35%;
}

#home-about.container {
	margin-top: 3rem;
}

#home-profile div.overlay {
	position: absolute;
	margin: 0px;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: rgba(0, 0, 0, 0.2);
}

#arrow.down {
	position: relative;
	top: 40vh;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-out;
}

#arrow.down svg:hover {
	-webkit-animation-delay: 0s;
	animation-duration: 1s;
	-webkit-animation-name: arrow-bounce;
	animation-name: arrow-bounce;
	-webkit-transform-origin: center bottom;
  	transform-origin: center bottom;
}