#resume-categories div.resume-category {
	margin-bottom: 2rem;
}

#resume .resume-category h6 {
	color: #4c8ac9;
}

#resume-item p.resume-title {
	font-size: 17px;
}

#resume-item .resume-name, #resume-item .resume-title {
	display: inline;
}

#resume-item p.resume-content {
	margin-top: 0px;
	margin-bottom: 20px;
}

#resume-item p.resume-date {
	font-weight: lighter;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 0px;
}