#resume-item p.resume-title {
	font-size: 16px;
}

#resume-item p.resume-title, h5 {
	display: inline;
}

#resume-item p.resume-content {
	margin-top: 0px;
	margin-bottom: 20px;
}

#resume-item p.resume-date {
	font-weight: lighter;
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 0px;
}