{{define "body" -}}
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
				<div id="experience-body">
					<h4>Experience</h4>
					<p>I started programming my freshman year of collage in a Data Science
						and Staticstics cource and I couldn't stop once I started. I may have
						started with an odd language like R but now after almost two years I
						can say that I am an expert in Python, Go, and C with proficient knowlege of
						Java, C++ and, JavaScript. My knowlege is not only limited to programming
						languages, I have a very good grasp on tools such as Git and Docker.</p>
				</div>
				<h4>Other Stuff</h4>
				<p>This is where my other stuff goes.</p>
				</div>
			<div class="col-lg-4 col-md-4 col-sm-8 col-sm-12">
				<img id="profile-pic" src="/static/img/me.jpg" width="225" height="300" style="margin-bottom: 1rem;">
				<h4>About Me</h4>
				<p>I am a third year undergraduate student studying computer science. 
				   I love playing the guitar and going for runs.</p>
			</div>
		</div>
{{- end}}