{{define "base" -}}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/base.css" media="screen">
	<link rel="icon" href="/static/img/_favicon.ico" type="image/x-icon">
	{{template "header" .}}
</head>

<body>
	{{template "body" .}}
	<script src="/static/js/jquery-3.4.1.min.js"></script>
	<script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	{{template "footer" .}}
</body>

</html>
{{- end}}