{{define "navbar" -}}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">Harry Brown</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item {{if eq .Title "About Me" -}}active{{end}}">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item {{if eq .Title "Freelancing" -}}active{{end}}">
				<a class="nav-link" href="/freelance">Freelancing</a>
					</li>
				<li class="nav-item {{if eq .Title "Resume" -}}active{{end}}">
					<a class="nav-link" href="#">Resume</a>
				</li>
			</ul>
		</div>
	</nav>
{{- end}}